/* dm-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* custom property */
:root {
    /* colors */
    --primary-color: #086CF9;
    --white-color: #fff;
    --black-2-color: #222;
    --black-5-color: #555;
    --black-3-color: #333;
    --card-hr-color: #E9E8E8;
    --card-border-color: #C8C8C8;
    --item-border-color: #BFBFBF;

    /* bg-colors */
    --white-bg-color: #fff;
    --skyblue-bg-color: #ECF4FF;
    --lightblue-bg-color: #D3E5FE;
    --blue-bg-color: #086CF9;

    /* fonts */
    --site-font: "DM Sans", "Arial", sans-serif;
}

/* global styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-bg-color);

    font-family: var(--site-font);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black-5-color);
}

.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    font-size: inherit;
}

input {
    font-family: inherit;
    border: none;
    outline: none;
}

.btn {
    font-weight: 500;
    color: var(--white-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    display: block;
    transition: transform 0.3s ease;
}
.btn:hover {
    transform: scale(1.05);
}
.title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--black-2-color);
    line-height: 1.3;
}
.card-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.3;
    color: var(--black-2-color);
    text-transform: capitalize;
}
.card-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
}

.hidden {
    display: none;
}


/* header section styles */
.header {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
}

.header .container {
    display: flex;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--black-2-color);
    margin-right: auto;
}

.header__logo:hover {
    color: var(--primary-color);
}

.sitenav {
    margin-right: 11.2rem;
}

.sitenav__item {
    position: relative;
}

.sitenav__list {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.sitenav__link {
    color: var(--black-2-color);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.6rem;
}

.sitenav__link:hover {
    color: var(--primary-color);
}

.sitenav__link:hover svg path {
    stroke: var(--primary-color);
}

.signin {
    margin-right: 4.8rem;
    text-transform: capitalize;
}

.header__btn {
    padding: 1.2rem 2.4rem;
    text-transform: capitalize;
}

.sitenav__menu {
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 0 1.5rem -0.5rem var(--black-2-color);
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 0;
    transform: translateX(-40%);
    padding: 1rem 2rem;
}

.sitenav__menu a:hover {
    color: var(--primary-color);
}

.burger-btn {
    margin-right: 2rem;
    display: none;
}
.burger-btn svg {
    width: 20px;
    height: 20px;
}

.rotate {
    transform: rotate(180deg);
}

.rowsvg {
    transition: all 0.3s ease;
}

/* hero section styles */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/jpg/hero-bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 19.9rem;
    padding-bottom: 28rem;
    color: var(--white-color);
    text-align: center;
}

.hero__title {
    font-size: 5.6rem;
    line-height: 1.28;
    margin-bottom: 2.4rem;
}

.hero__text {
    width: 100%;
    max-width: 867px;
    margin-bottom: 5.4rem;
    margin-left: auto;
    margin-right: auto;
}

.hero__btn {
    padding: 1.6rem 3rem;
    display: inline-flex;
}

/* statistics section styles */
.statistics {
    background-color: var(--white-bg-color);
    border-radius: 4px;
    padding: 5.6rem 8.8rem;
    box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.08);
    transform: translateY(-50%);
}

.statistics__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics__item {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.statistics__item img {
    width: 72px;
    height: 72px;
    object-fit: contain;
    object-position: center;
}

.statistics__inner h2 {
    font-size: 3.6rem;
    margin-bottom: 0.8rem;
    color: var(--black-2-color);
}

.statistics__inner a {
    color: var(--primary-color);
}


/* course section styles */
.course {
    margin-top: 2.8rem;
    margin-bottom: 12.8rem;
}
.course .container {
    display: flex;
    align-items: center;
    gap: 3.8rem;
}
.course__left {
    width: 100%;
    max-width: 519px;
}
.course__title {
    margin-bottom: 2.4rem;
}
.course__text {
    width: 100%;
    max-width: 478px;
    margin-bottom: 1.6rem;
}
.course__subtitle {
    font-size: 2rem;
    line-height: 1.4;
    color: var(--black-3-color);
    margin-bottom: 3.2rem;
}
.course__btn {
    padding: 1.6rem 3.2rem;
    display: inline-flex;
}
.course__right {
    width: 100%;
    max-width: 595px;
    position: relative;
}
.course__right-img {
    width: 100%;
    height: auto;
}
.course__play-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* how it work section styles */
.how-it-work {
    margin-bottom: 12.8rem;
    text-align: center;
}
.how-it-work__title {
    margin-bottom: 1.2rem;
}
.how-it-work__subtitle {
    width: 100%;
    max-width: 423px;
    margin-bottom: 4.8rem;
    margin-left: auto;
    margin-right: auto;
}
.how-it-work__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
}
.how-it-work__item img {
    width: 80px;
    height: 80px;
    margin-bottom: 2.4rem;
}
.how-it-work__item h3 {
    margin-bottom: 1.6rem;
}

/* online courses section styles */
.online-courses {
    background-color: var(--skyblue-bg-color);
    padding: 6rem 0;
    text-align: center;
    margin-bottom: 12.8rem;
}
.online-courses__title {
    margin-bottom: 1.2rem;
}
.online-courses__text {
    width: 100%;
    max-width: 674px;
    margin: 0 auto;
    margin-bottom: 4.8rem;
}
.online-courses__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.4rem;
}
.online-courses__item {
    background-color: var(--white-bg-color);
    padding: 2.4rem 2.4rem 3.5rem;
    border-radius: 6px;
    text-align: left;
}
.online-courses__item-img {
    margin-bottom: 2.4rem;
    border-radius: 6px;
    width: 100%;
    height: auto;
}
.online-courses__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 2.4rem;
}
.online-courses__item-header span:nth-child(odd) {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.6px solid var(--card-border-color);
}
.online-courses__item-hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--card-hr-color);
    margin-bottom: 2rem;
}
.online-courses__item-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.online-courses__item-price {
    color: var(--primary-color);
}


/* mentors section styles */
.mentors {
    margin-bottom: 12.8rem;
}
.mentors__title {
    margin-bottom: 1.2rem;
    text-align: center;
}
.mentors__text {
    width: 100%;
    max-width: 551px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4.8rem;
}
.mentors__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.4rem;
}
.mentors__item {
    box-shadow: 0 11px 55px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.mentors__img {
    width: 100%;
    height: auto;
    margin-bottom: 1.6rem;
}
.mentors__item div:not(.mentors__footer):last-child {
    padding: 0 3.2rem 3.4rem;
}
.mentors__name {
    margin-bottom: 0.8rem;
}
.mentors__job {
    margin-bottom: 2.4rem;
}
.mentors__footer {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.mentors__footer div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.mentors__footer p {
    margin-left: auto;
}

/* upcoming section styles */
.upcoming-event {
    margin-bottom: 12.8rem;
}
.upcoming-event__title {
    text-align: center;
    margin-bottom: 1.2rem;
}
.upcoming-event__subtitle {
    width: 100%;
    max-width: 421px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.upcoming-event__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.4rem;
}
.upcoming-event__item {
    box-shadow: 0 12px 45px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
}
.upcoming-event__img-wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 2.4rem;
}
.upcoming-event__img-wrapper:hover img {
    transform: scale(1.1);
}
.upcoming-event__img-wrapper img {
    width: 100%;
    height: auto;
    max-height: 240px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
    display: block;
}
.upcoming-event__img-wrapper span {
    width: 65px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.8rem 1.2rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.upcoming-event__content {
    padding: 0 2.4rem 3rem;
}
.upcoming-event__item-title {
    font-weight: 500;
    margin-bottom: 2rem;
}
.upcoming-event__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    flex-wrap: wrap;
}
.upcoming-event__item-footer div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


/* indicators section styles */
.indicators {
    background-color: var(--lightblue-bg-color);
    padding: 7.2rem 0;
    margin-bottom: 12.8rem;
}
.indicators__list {
    width: 100%;
    display: flex;
    align-items: center;
}
.indicators__item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex-grow: 1;
}
.indicators__title {
    display: block;
}


/* our blog section styles  */
.our-blog {
    margin-bottom: 12.8rem;
}
.our-blog .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-blog__title {
    text-align: center;
    margin-bottom: 1.2rem;
}
.our-blog__subtitle {
    width: 100%;
    max-width: 420px;
    text-align: center;
    margin-bottom: 4.2rem;
}
.our-blog__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.4rem;
    margin-bottom: 4rem;
}
.our-blog__item {
    border: 1px solid var(--item-border-color);
    border-radius: 4px;
    overflow: hidden;
}
.our-blog__item img {
    width: 100%;
    height: auto;
    max-height: 248px;
}
.our-blog__content {
    padding: 3rem 2.9rem;
}
.our-blog__item-title {
    font-weight: 500;
    margin-bottom: 1.6rem;
}
.our-blog__text {
    margin-bottom: 2.4rem;
}
.our-blog__link {
    color: var(--primary-color);
}
.our-blog__link:hover {
    font-weight: 700;
}
.our-blog__btn {
    padding: 1.6rem 3.2rem;
}




/* media queries */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {
    .sitenav {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    /* hero section */
    .hero {
        padding-top: 16rem;
        padding-bottom: 24rem;
    }

    .hero__title {
        font-size: 4.6rem;
    }

    /* statistics section */
    .statistics {
        padding: 4rem 5rem;
    }
    .statistics__item {
        gap: 1.2rem;
    }
    .statistics__item img {
        width: 64px;
        height: 64px;
    }
    .statistics__inner h2 {
        font-size: 2.4rem;
        margin-bottom: 0.6rem;
    }
    
    /* course section */
    .course {
        margin-top: -4rem;
        margin-bottom: 8rem;
    }
    .course .container {
        flex-direction: column-reverse;
    }
    .course__left {
        max-width: 800px;
        text-align: center;
    }
    .course__text {
        max-width: 100%;
    }
    .course__title {
        margin-bottom: 1.4rem;
    }
    .course__text {
        margin-bottom: 0.8rem;
    }
    .course__subtitle {
        margin-bottom: 1rem;
    }
    .title {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 850px) {
    .statistics {
        padding: 4rem 3rem;
    }
    .statistics__item img {
        width: 46px;
        height: 46px;
    }
    .statistics__inner h2 {
        font-size: 1.8rem;
        line-height: 1;
        margin-bottom: 0.6rem;
    }
    .title {
        font-size: 3.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .statistics {
        padding: 4rem 2rem;
    }
    .statistics__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title {
        font-size: 3.6rem;
    }

    /* how it works section */
    .how-it-work {
        margin-bottom: 6rem;
    }
    .how-it-work__title {
        margin-bottom: 1rem;
    }
    .how-it-work__subtitle {
        margin-bottom: 2rem;
    }
    .how-it-work__list {
        gap: 2rem;
    }
    .how-it-work__item img {
        width: 60px;
        height: 60px;
        margin-bottom: 1.6rem;
    }
    .how-it-work__item h3 {
        margin-bottom: 1.2rem;
    }
    .online-courses__list {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .our-blog {
        margin-bottom: 6rem;
    }
    .our-blog__title {
        margin-bottom: 1rem;
    }
    .our-blog__subtitle {
        margin-bottom: 4rem;
    }
    .our-blog__list {
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .our-blog__content {
        padding: 1rem;
    }
    .our-blog__item-title {
        font-size: 2rem;
    }
    .our-blog__text {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .header__logo {
        font-size: 2rem;
    }
    .signin {
        margin-right: 1rem;
    }
    .hero {
        padding-top: 10rem;
        padding-bottom: 14rem;
    }

    .hero__title {
        font-size: 3.2rem;
    }
    .title {
        font-size: 3rem;
    }
    .card-title {
        font-size: 2rem;
    }

    .online-courses {
        padding: 4rem 0;
    }
    .online-courses {
        margin-bottom: 6rem;
    }
    .mentors {
        margin-bottom: 6rem;
    }
    .mentors__img {
        width: 100%;
        height: 340px;
        margin-bottom: 1rem;
        object-fit: cover;
        object-position: top;
    }
    .upcoming-event {
        margin-bottom: 6rem;
    }
    .indicators {
        padding: 4rem 0;
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 476px) {
    .how-it-work__item {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--lightblue-bg-color);
    }
}
